p.logo {
    margin-bottom: 0px;
    position: absolute;
    font-size: 36px;
    top: -25px;
}

p.logo2 {
    color: yellow;
    text-transform: uppercase;
    font-size: clamp(1.6rem, 1.01rem, 5rem);
    font-weight: 900;
    letter-spacing: -1px;
    padding: 0px 2rem;
    margin-bottom: 0px;

    &:before,
    &:after {
        position: absolute;
        content: attr(data-text);
        padding: 0px 2rem;
        top: 0;
        left: 0;
        color: #000;
        overflow: hidden;
        white-space: nowrap;
    }

    &:before {
        left: 3px;
        text-shadow: -3px 2px #87cefa;
        animation: glitch-1 3s ease-in reverse infinite;
    }

    &:after {
        left: -3px;
        text-shadow: -5px 2px #fff;
        animation: glitch-2 3s ease-in-out reverse infinite;
    }
}