@import "../../assets/scss/variables";


tr.protocol-item-info {
    td {
        padding: 0;
        background-color: $primary;

        div.protocol-item-info-container {
            max-height: 0;
            padding: 0 10px;
            box-sizing: border-box;
            overflow: hidden;
            transition: max-height 0.3s, padding 0.3s;
            display: flex;
            flex-direction: column;

            >div:nth-child(1) {
                flex-grow: 1;
            }
        }
    }

    &.active td div.protocol-item-info-container {
        max-height: 1000px;
        padding: 10px 10px;
        transition: max-height 0.6s, padding 0.6s;
    }
}

.deposit-info {
    cursor: pointer;
    position: relative;

    .protocol-title {
        padding-left: 3px;
        font-size: 20px;
        text-shadow: $text-shadow;
    }

    .protocol-name {
        display: flex;
        gap: 4px;
        font-size: 14px;
        font-weight: 500;

        .protocol-icon {
            width: 18px;
            height: 18px;
        }
    }

    .display-more-info {    
        position: absolute;
        right: -15px;
        bottom: -16px;
        font-size: 16px;
        font-weight: 500;
    }
}